html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.titl h2{
    margin: 40vh auto;
    text-align: center;
    color:white
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}
#container{
    position: relative;
    width: 100%;
    transform: rotate(-35deg);
}
#container #box{
    position: relative;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%+400px);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #000);
    animation: animatesurface 1.5s ease-in-out infinite;
}
#container #box #kube{
    position:relative;
    width: 200px;
    height: 200px;
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 150px #03e9f4;
    transform-origin: bottom right;
    animation: animka 1.5s ease-in-out infinite;
}
@keyframes animatesurface{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200px);
    }
}
@keyframes animka{
    0%{
        transform: rotate(0deg);
    }
    60%, 70%, 80%, 100%{
        transform: rotate(90deg);
    }
    65%{
        transform: rotate(85deg);
    }
    75%{
        transform: rotate(87.5deg);
    }
}
.gyui1{
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#opty{
    text-align: left;
}
.profil{
    width: 50vh;
    height: 50vh;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 30px 30px 60px 30px rgba(144, 144, 144, 0.338);
    position: relative;
    display: inline-block;
    z-index: 2;
    margin-top: 20vh;
    border-radius: 50%;
    background-image: url(картинки/home1.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 auto;
    animation: anib .5s ease infinite;
}
@keyframes anib{
    0%{
        border-top: 5px solid rgb(231, 231, 231);
    }
    33%{
        border-right: 5px solid rgb(231, 231, 231);
    }
    66%{
        border-bottom:5px solid rgb(231, 231, 231);
    }
    100%{
        border-left: 5px solid rgb(231, 231, 231);
    }
}
#fon{
    background: linear-gradient(135deg, rgb(227, 185, 78), rgb(223, 83, 18));
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top:-30vh;
    right: 0;
    left: 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top:3px solid rgb(220, 173, 3);
    color:white;
    text-align: left;
}
.raz{
    position: absolute; 
}
.raz p{
    margin-left:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: white;
}
#fon b{
    margin-left:100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
}
#fon i{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
    float: right; 
    margin-right: 100px;
}
.hoy{
    width:80px;
    height: 46px;
    background: black;
    border: none;
    padding: 0;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    top:45vh;
    border-radius: 23px;
    border:none;
    border-bottom:1px solid #f1f1f1;
    border-top:1px solid #f1f1f1;
}
.foot{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-image: url(картинки/free-icon-sun-5497397.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.titl h2::after{
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
    margin: 40vh auto;
    animation: typing 4s  alternate-reverse;
    width:30ch;
    overflow: hidden;
    content: 'Информационная страница ЛНТ';
}
.bur{
    width:50px;
    height:8px;
    background-color: #fff;
    z-index: 100;
    margin-bottom: 3px;
    border-radius: 5px;
}
.bur1{
    width:50px;
    height:8px;
    background-color: #fff;
    z-index: 100;
    margin-top: 3px;
    border-radius: 5px;
}
.bur2{
    width:50px;
    height:8px;
    background-color: #fff;
    z-index: 100;
    border-radius: 5px;
    margin-top: 3px;
}
.burger{
    position: fixed;
    cursor: pointer;
    top:20px;
    z-index: 3;
}
@keyframes typing {
    0% { 
        content: 'Информационная страница ЛНТ|';
     }
    3.7% {
         content: 'Информационная страница ЛН|'; }
    7.4% { 
        content: 'Информационная страница Л|'; }
    11.1% { 
        content: 'Информационная страница |'; }
    14.8% {
         content: 'Информационная страница|'; }
    18.5% {
         content: 'Информационная страниц|'; }
    22.2% {
         content: 'Информационная страни|'; }
    25.9% {
         content: 'Информационная стран|'; }
    29.6% {
         content: 'Информационная стра|'; }
    33.3% {
         content: 'Информационная стр|'; }
    37.0% {
         content: 'Информационная ст|'; }
    40.7% {
         content: 'Информационная с|'; }
    44.4% {
         content: 'Информационная |'; }
    48.1% { 
        content: 'Информационная|'; }
    51.9% { 
        content: 'Информационна|'; }
    55.6% {
         content: 'Информационн|'; }
    59.3% {
         content: 'Информацион|'; }
    63.0% {
         content: 'Информацио|'; }
    66.7% {
         content: 'Информаци|'; }
    70.4% {
         content: 'Информац|'; }
    74.1% {
         content: 'Информа|'; }
    77.8% {
         content: 'Инфор|'; }
    81.5% {
         content: 'Инфо|'; }
    85.2% {
         content: 'Инф|'; }
    88.9% {
         content: 'Ин|'; }
    92.6% { 
        content: 'И|'; }
    96.3% {
         content: 'И|'; }
    100% { 
        content: 'И|'; }
}
body{
    background-color: #000000;
}
.img{
    text-align: right;
    margin:-66vh auto
}
.but button{
    border-radius: 15px;
    border: 3px solid antiquewhite;
    width:300px;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:antiquewhite;
    background-color: transparent;
    cursor: pointer;
}
.but button::after{
    content: 'ЛНТ';
}
.but button:hover::after{
    content: 'Нажми';
}
.but{
    text-align: center;
    margin:70vh auto;
}
.info img{
    width:250vh;
    background-size: cover;
    margin: -45vh -2.4vh ;
    position: absolute;
    z-index: 2;
}
.inf img{
    width:200px;
    margin: -400px 0px 100px 0px;
}
.inf{
    text-align: center;
    position: absolute;
    margin: -1500px auto;
    z-index: 1;
}
.shad{
    height: 2000px;
    width:100%;
    background-size: cover;
    margin-top: 200px;
}
.in img{
    width:200px;
    position: absolute;
    z-index: 3;
    opacity: 10;
}
.in{
    margin: 0px 0px 100px;
}
.fon{
    background: linear-gradient(rgb(6,22,37), rgb(0, 0, 0) );
    width:100%;
    height:4500px;
    margin: -120vh -9px auto;
    background-size: cover;
    position: absolute;
    z-index: 3;
}
.run{
    width:1000px;
    background-color:rgba(255, 0, 0, 0.4);
    border-radius: 20px;
}
.okr{
    text-align: center;
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
}
.span{
    width:5px;
    height:140vh;
    position:relative;
    border-left: 3px dashed white;
    text-align: left;
}
.stop{
    width:800px;
    height:400px;
    background-color: gba(255, 255, 255, 0.4);
    color:white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.stop p{
    text-align: left;
    margin: 0px -20px auto;
    color:green;
}
.stop1 p{
    color:green;
}
.stop3 p{
    color:green;
}
.stop4 p{
    color:green;
}
.stop h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
}
.stop b{
    animation: lamp 1s linear infinite;
    transition:all 1s ease;
    transform: rotate(0deg);
}
.stop1 b{
    animation: lamp 1s linear infinite;
    transition:all 1s ease;
    transform: rotate(0deg);
}
.stop3 b{
    animation: lamp 1s linear infinite;
    transition:all 1s ease;
    transform: rotate(0deg);
}
.stop4 b{
    animation: lamp 1s linear infinite;
    transition:all 1s ease;
    transform: rotate(0deg);
}
.stop i{
display: none;
}
.stop4 i{
display: none;
}
.stop1 i{
display: none;
}
.stop3 i{
display: none;
}
@keyframes lamp{
    0%{
        text-shadow: #fc0 1px 0 10px;
    }
    20%{
        text-shadow: none
    }
    40%{
        text-shadow: #fc0 1px 0 10px;
    }
    60%{
        text-shadow: #fc0 1px 0 10px;
    }
    80%{
        text-shadow: #fc0 1px 0 10px;
    }
    100%{
        text-shadow: #fc0 1px 0 10px;
    }
}
.stop1{
    width:800px;
    height:400px;
    background-color: gba(255, 255, 255, 0.4);
    color:white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: -110vh 0vh 0px -87vh;
    text-align: right;
}
.stop1 p{
    text-align: right;
    margin: 0px 0% auto
}
.stop1 h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-decoration: none;
}
.stop3{
    width:800px;
    height:400px;
    background-color: gba(255, 255, 255, 0.4);
    color:white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -75vh;
    text-align: left;
}
.stop3 p{
    text-align: left;
    margin: 0px -20px auto
}
.stop3 h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
}
.stop4{
    width:800px;
    height:400px;
    background-color: gba(255, 255, 255, 0.4);
    color:white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: -40vh 0vh 0px -87vh;
    text-align: right;
}
.stop4 p{
    text-align: right;
    margin: 0px 0% auto
}
.stop4 h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-decoration: none;
}
.span1{
    width:5px;
    height:1vh;
    position:relative;
    border-left: 3px dashed white;
}
.block{
    float: left;
    width: 550px;
    height: 550px;
    color:black;
    margin-top: 60px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 10;
    position: relative;
    border-radius: 20px;
    font-size: 25px;
    margin-left:30px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1.5s ease-in-out;
    display: flex;
    background-color: #ffffff;
}
.p{
    justify-content: center;
    display: flex;
}
.block .pot{
    position:absolute;
    text-align:left;
    padding: 70px 200px 0px 20px;
}
.block h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 0px 20px;
    position: absolute;
}
.block p{
    padding: 305px 0px 0px 20px;
}
.inline{
    margin-top:100px;
}
#curs{
    cursor: pointer;
    position: absolute;
    width: 175vh;
    height: 5vh;
    font-size: 20px;
    border:none;
    transition: 0.2s;
    border-radius: 20px;
}
#information::after{
    z-index: 7;
    border:1.5px solid white;
    color:white;
    border-radius: 20px;
    padding: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    content: "Сайт ЛНТ";
}
#information1::after{
    z-index: 7;
    padding: 10px 30px;
    border:1.5px solid white;
    color:white;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    content: "Перейти на Moodle";
}
.inline a{
    text-decoration: none;
}
#information:hover::after{
    z-index: 7;
    position: relative;
    border:1.5px solid white;
    color: rgb(176, 66, 66);
    border-radius: 20px;
    padding: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    content: "Переходи";
    background-color: white;
}
#information1:hover::after{
    z-index: 7;
    position: relative;
    border:1.5px solid white;
    color: rgb(176, 66, 66);
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 10px 30px;
    content: "Выполняй задания";
    background-color: white;
}
#information{
display: inline;
margin-right: 30px;
cursor: pointer;
}
#information1{
display: inline;
margin-left: 30px;
cursor: pointer;
}
.vops{
    z-index: 5;
}
#curs:hover{
    transform: scale(1.01);
}
#curs:active{
    font-size: 21px;
    border:0.5px solid #ffffff;
}
#curs:focus{
    content: 'prtototo';
}
.nko
{
text-align: left;
padding-left: 12vh;
width: 100%;
}
.pot img{
    width:150px;
    float: right;
    margin: 0px -180px auto;
}
.block:hover img{
    filter: hue-rotate(-190deg);
}
.block img{
    transition: 2s;
}
.vops{
    float: right;
    position: relative;
    margin-right: 20vh;
    margin-top: 20vh;
}
.vop{
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    width:72vh;
    height:100px;
    border:2px solid white;
    border-radius:25px;
    text-align: center;
    transition:0.5s;
    justify-content: center;
    margin-top: 20px;
}
.vop:hover{
background-color:rgba(116, 114, 114, 0.479);
}
b{
    transform: rotate(45deg);
}
.txt{
    display: inline-block;
}
.kr {
    transform: rotate(0deg);
    font-size: 50px;
    display: inline-block;
    margin:20px 60px 0px 0px;
    transition: 1s;
}
.poh{
    display: inline-block;
    mask-position: relative;
    cursor: pointer;
    transition: 1s;
}
.vip{
    height:20vh;
    width:70vh;
    background-color: white;
    border-radius: 25px;
    font-size: 24px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px;
    display:none;
    transition:1s;
}
.osn{
    font-size:60px;
    color:white;
    margin-top: 200px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sb{
    width:500px;
    height:400px;
    background-color: aliceblue;
    display: flex;
    position: relative;
    float: left;
    margin-left: 50px;
    border-radius: 25px;
    justify-content: center;
    vertical-align:middle
}
.sbor{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
.zagol{
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: -100px;
    text-align: center;
    width: 100%;
    position:relative
}
.osn img{
    width:850px
}
.vn{
    height:350px;
    width:450px;
    border:2px solid brown;
    border-radius: 22.5px;
    border-style: dashed;
   margin-top: 25px;
   color:black;
   font-size: 25px;
   font-family: 'Courier New', Courier, monospace;
   padding-left: 20px;
}
.rty{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}
@font-face {
	font-family: 'Credit'; 
	src: url(CreditCard.ttf); 
}
#input{
    display: none;
    width: 100%;
}